.App {
  display: flex;
  flex-direction: row;
}

@media (orientation: landscape) {
  .intro-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3vmin;
    margin-left: 5vmin;
    text-align: left;
  }

  .subheader {
    font-size: calc(3vmin);
    letter-spacing: .0em;
    color: rgb(230, 44, 81);
    margin-top: 5vmin;
    margin-bottom: -5vmin;
  }

  .header {
    font-size: calc(25vmin);
    margin-bottom: -9vmin;
    letter-spacing: -.5vmin;
  }

  .header2 {
    font-size: calc(25vmin);
    margin-bottom: -9vmin;
    margin-left: -1vmin;
    letter-spacing: -1vmin;
  }
}

@media (orientation: portrait) {
  .intro-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3vmin;
    margin-left: 5vmin;
    text-align: left;
  }

  .subheader {
    font-size: calc(3vmin);
    letter-spacing: .0em;
    color: rgb(230, 44, 81);
    margin-top: 5vmin;
    margin-bottom: -5vmin;
  }

  .header {
    font-size: calc(25vmin);
    margin-bottom: -9vmin;
    letter-spacing: -.5vmin;
  }

  .header2 {
    font-size: calc(25vmin);
    margin-bottom: -9vmin;
    margin-left: -1vmin;
    letter-spacing: -1vmin;
  }
}

