body {
  display: flex;
  flex-direction: row;
  font-family: 'impact';
  background-color: rgb(249, 203, 7);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
